<!-- main/templates/main/base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
    <title>{% block title %}Reddit Clone{% endblock %}</title>
  </head>

  <body>
    <header>
      <h1>Reddit Clone</h1>
    </header>

    <div class="navigation">
      <a href="{% url 'home' %}">Home</a>
    </div>

    <div class="content">{% block content %}{% endblock %}</div>
  </body>
</html>
